extends layout
block contenido
  p #{usuario.nombre}
  p #{usuario.apellido}
  p #{usuario.edad}
  p #{usuario.pais}
  p Usuario modificado.
  #[a(href="/", class="waves-effect waves-light btn")  volver] 